.container {
  background-color: #ccc;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

#box3 {
  background-color: red;
  height: 22px;
}

[href="#"] {
  color: brown;
  margin-left: auto;
  font-size: 20px;
}
