$main-color: #333;
$max-width: 1920px;
$base-size: 16px;

$btn-text-color: #1c4380;
$brand-color-1: #ffeda6;
$brand-color-2: #a85c9c;
$brand-color-3: #c8c8e8;
$brand-color-4: #aae2e7;
$brand-color-5: #f1f2ea;
$brand-color-6: #D77457;

$border-radius: 10px;
