* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  margin-bottom: 40px;
}

.box-size {
  width: 200px;
  padding: 20px;
  border: 2px solid;
  background-color: #ccc;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 40px;
  padding-bottom: 40px;
  padding-top: 40px;
  border-bottom: 2px dashed brown;
}

table {
  border: 1px solid gray;
  width: 100%;
}

thead {
  font-weight: 700;
}

table:not(.worker) tbody tr:nth-child(odd) {
  background-color: #ccc;
}
table:not(.worker) tbody tr:nth-child(even) {
  background-color: #ededed;
}

td {
  border: 1px solid red;
  padding: 5px 10px;
}

tfoot td {
  text-align: right;
  font-weight: 700;
  font-size: 20px;
}

tfoot span {
  color: red;
}

/* col:nth-child(2) {
  background-color: red;
} */

.bg-yellow {
  background-color: yellow;
}

.bg-olivedrab {
  background-color: olivedrab;
}

.sizes {
  font-size: 0;
  margin-left: -5px;
  margin-right: -5px;
}

/* .container > .row > col-md-6 */

.sizes > div {
  font-size: 20px;
  display: inline-block;
  width: calc(33.333% - 10px);
  border: 1px solid red;
  margin-right: 5px;
  margin-left: 5px;
  min-width: 150px;
}
